# Node
node_modules/
.pnpm-store/

# Nuxt
.nuxt/
.dist/
.output/
.env
.env.*

# Build
dist/
lib/

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

.agents
skills-lock.json
docs